<style>
.footer{
    background: #fff;
    height: 100px;
    box-shadow: 0px 2px 5px #777,0px 2px 5px #777,0px 2px 5px #777,0px 2px 5px #777;;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    align-self: center;
}
.foot{
    padding: 7px;
    font-family: 'Heebo', sans-serif;
}
a{
    margin-left: 15px;
}
</style>
<div class="footer">
<div class="foot text-center">
    <a href="/">ראשי</a>
    <a href="/catalog">המוצרים שלנו</a>
    <a href="#div_contact">השאר פניה</a>
</div>
<div class="text-center" >
    <a style="color: black;" href="tel:+972547578782">0547578782</a>

</div>
</div>