
<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-#fff mb-5">
  <div class="container-fluid ">
    <a class="navbar-brand text-black mb-0 h1" href="/">עלמ"א</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/contact-us">צור קשר</a>
        <a class="nav-link" href="/about">עלינו</a>
        <a class="nav-link" href="/catalog">קטלוג מוצרים</a>
        <a class="nav-link" aria-current="page" href="/">דף הבית</a>
      </div>
    </div>
  </div>
</nav>