<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>ALMA</title>
    <style>
        html, body {
        height: 100%;
        }

        .nav-link,.dropbtn{
            color: black !important;
            font-family: 'Heebo', sans-serif;
            font-weight: bold;
            font-size: 25px;
            margin: 15px;
            text-decoration: none;
            }
        .active, .nav-link:hover, .dropdown:hover .dropbtn  {
            background-color: rgb(212,175,55);
        }
        .navbar-dark {
            background: #fff;
            height: 130px;
            box-shadow: 0px 2px 5px #777;
        }
        .navbar-brand {
            transform: translateX(-50%);
            left: 88%;
            top:8px ;
            position: absolute;
        }
        .collapse {
            transform: translateX(-50%);
            left: 63%;
            margin-top: 20px;
            top:10px ;
            position: absolute;
        }
     .dropdown {
         margin-top: 4.3%;
        }   

        .dropdown-content {
        font-family: 'Heebo',sans-serif;
        display: none;
        position: absolute;
        background-color: #000;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }

        .dropdown-content a {
        float: none;
        color: rgb(212,175,55);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        }

        .dropdown-content a:hover {
        background-color: rgb(212,175,55);
        color: #000;
        font-weight: bold;
        }

        .dropdown:hover .dropdown-content {
        display: block;
        }
 
        .navbar-dark .navbar-toggler {
            color: rgb(212,175,55) !important;
            border-color: #000 !important;
        }
        .navbar-toggler .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(212, 175, 55, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
        }


      
        

    </style>
</head>
<body>
        {{>_navbar}}
      
    <div class="container-fluid">
         {{{body}}}
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <footer class="text-center">
        <p>Author: Mai Yehezkel<br>
        <a href="mailto:hege@example.com">mai@example.com</a></p>
    </footer>
</body>

</html>