<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet">
<style>
.about{
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}
h1{
    color: #000;
     text-shadow: 4px 3px  rgb(212,175,55);
     margin-top: 2rem;
     font-weight: bold;
    
    
}
h3{
    color: black;
     text-shadow: 2px 2px rgb(212,175,55);
     font-size: 35px;
     font-weight: bold;
}
p{
    font-size: 20px;
    
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
.back {
  background-color:rgb(212,175,55);
  width: 400px;; height:100px;
  line-height:100px;
  font-size:60px;
  text-align:center;
  position:relative;
  margin:100px auto;
  
  }

.back:before, .back:after {
  background-color:rgb(153,101,21);
  width:100px; height:100px;
  content:'';
  display:block; 
  transform:skewY(20deg);
  position:absolute;
  z-index:-1;
}
.ex{
    text-align: center;
    font-family: 'Heebo',sans-serif;
    font-size:3;
    color: black;
    text-decoration: underline wavy rgb(212,175,55);
    }

.back:before {top:18px; left:0; }
.back:after {top:-18px; right:0; }

</style>

<img class="d-block w-100 " src="/images/ללא שם.png" height="450"  alt="First slide">
     <div class="centered">
         <h1 class="back display-1">קצת עלינו</h1>
</div>


<div class="about">
<h1 dir="rtl" class="display-3 text-center">מי אנחנו?</h1><br>
<p dir="rtl" class="text-center">עלמא החברה המובילה בארץ לשיווק ושינוע מזון בטמפרטורה מבוקרת למסעדות, מוסדות ועסקים.</p>
<p dir="rtl" class="text-center">עלמא נוסדה תוך כוונה להנגיש את השירות הטוב ביותר, המוצרים הטובים ביותר והמחירים הנוחים ביותר. </p>
<p dir="rtl" class="text-center">חברת עלמא שיווק והפצה שמה את הלקוח בראש מעיינותיה, ולכן מצליחה להנגיש לכלל הלקוחות מגוון רחב של מוצרים אשר יתאימו לכל בקשת לקוח,</p> 
<p dir="rtl" class="text-center">החל ממגוון רחב של חברות עמם אנו עובדים ועד לפרטים הקטנים ביותר כמו סוגי המוצרים השונים.</p>
<br>
<h3 dir="rtl" class="text-center">מה תוכלו למצוא אצלנו?</h3>
<p dir="rtl" class="text-center">אצלנו תוכלו למצוא כל פריט וסוג מהמוצרים הבאים:</p>
<p class="ex" dir="rtl" >סלטים</p>
<p class="ex" dir="rtl" >רטבים וממרחים</p>
<p class="ex"  dir="rtl">גבינות</p>
<p class="ex" dir="rtl" >דגים</p>
<p class="ex" dir="rtl">נקניקים</p>
<p class="ex" dir="rtl" >מוצרים טבעוניים</p>
<p class="ex" dir="rtl" >ועוד</p>
</div>