
<div class="jumbotron jumbotron-fluid text-center text-muted p-3">
  <div class="container">
    <h1 class="display-4 text-warning">קטלוג המוצרים שלנו</h1>
    <p class="lead">טקסט עלינו - להשלמה</p>
  </div>
</div>

<div class="row mx-auto">
  <div class="col-6 col-md-4">    
    <div class="card border-dark mb-3 text-center" style="max-width: 18rem;">
      <div class="card-header">גבינות</div>
      <div class="card-body text-dark">
        <h5 class="card-title">מבחר סוגי גבינות</h5>
        <p class="card-text">אנו משווקים גבינות במשקלים שונים, ניתן לאות ליד כל סלט את הגדלים המגיעים ממנו</p>
        <a href="/catalog/salads" class="btn btn-warning"> גבינות</a>
      </div>
    </div></div>
  <div class="col-6 col-md-4">    
    <div class="card border-dark mb-3 text-center" style="max-width: 18rem;">
      <div class="card-header">סלטים</div>
      <div class="card-body text-dark">
        <h5 class="card-title">מבחר סוגי סלטים</h5>
        <p class="card-text">אנו משווקים סלטים במספר גדלים שונים, ניתן לאות ליד כל סלט את הגדלים המגיעים ממנו</p>
        <a href="/catalog/salads" class="btn btn-warning"> סלטים</a>
      </div>
    </div></div>
  <div class="col-6 col-md-4">    
    <div class="card border-dark mb-3 text-center" style="max-width: 18rem;">
      <div class="card-header">רטבים</div>
      <div class="card-body text-dark">
        <h5 class="card-title">מבחר סוגי רטבים</h5>
        <p class="card-text">אנו משווקים רטבים במספר גדלים שונים, ניתן לאות ליד כל סלט את הגדלים המגיעים ממנו</p>
        <a href="/catalog/סלטים" class="btn btn-warning"> רטבים</a>
      </div>
    </div>
    </div></div>


<div class="row mx-auto">
  <div class="col-6 col-md-4">  
    <div class="card border-dark mb-3 text-center" style="max-width: 18rem;">
      <div class="card-header">ירקות קפואים</div>
      <div class="card-body text-dark">
        <h5 class="card-title"> מבחר סוגי ירקות קפואים</h5>
        <p class="card-text">אנו משווקים ירקות במספר גדלים שונים, ניתן לאות ליד כל סלט את הגדלים המגיעים ממנו</p>
        <a href="/catalog/סלטים" class="btn btn-warning"> ירקות קפואים</a>
      </div>
    </div></div>
  <div class="col-6 col-md-4"><div class="card border-dark mb-3 text-center" style="max-width: 18rem;">
      <div class="card-header">דגים</div>
      <div class="card-body text-dark">
        <h5 class="card-title"> מבחר סוגי דגים </h5>
        <p class="card-text">אנו משווקים ירקות במספר גדלים שונים, ניתן לאות ליד כל סלט את הגדלים המגיעים ממנו</p>
        <a href="/catalog/סלטים" class="btn btn-warning"> דגים</a>
      </div>
    </div>
    </div>
  <div class="col-6 col-md-4">   <div class="card border-dark mb-3 text-center" style="max-width: 18rem;">
      <div class="card-header">נקניקים</div>
      <div class="card-body text-dark">
        <h5 class="card-title"> מבחר סוגי נקניקים</h5>
        <p class="card-text">אנו משווקים ירקות במספר גדלים שונים, ניתן לאות ליד כל סלט את הגדלים המגיעים ממנו</p>
        <a href="/catalog/סלטים" class="btn btn-warning"> נקניקים</a>
      </div>
    </div>
    </div></div>




