
<div class="jumbotron jumbotron-fluid text-center text-muted p-3">
  <div class="container">
    <h1 class="display-4">ברוכים הבאים לעלמא</h1>
    <p class="lead">טקסט עלינו - להשלמה</p>
    <a href="/catalog" class="btn btn-outline-warning btn-lg">המוצרים שלנו</a>
  </div>
</div>

