
<div class="jumbotron jumbotron-fluid text-center text-muted p-3">
  <div class="container">
    <h1 class="display-4 ">ברוכים הבאים לעלמא</h1>
    <p dir="rtl" class="display-6">החברה המובילה בארץ לשיווק ושינוע מזון בטמפרטורה מבוקרת למסעדות, מוסדות ועסקים.</p>
    <p dir="rtl" class="lead">עלמא נוסדה תוך כוונה להנגיש את השירות הטוב ביותר, המוצרים הטובים ביותר והמחירים הנוחים ביותר.</p>
    <p dir="rtl" class="lead"></p>
    <a href="/catalog" class="btn btn-outline-warning btn-lg">המוצרים שלנו</a>
  </div>
</div>

<div class="ribbon">
  ברוכים הבאים לעלמא
  <i></i>
  <i></i>
  <i></i>
  <i></i>
</div>