<table style="width: 75%">
    <colgroup>
       <col span="1" style="width: 25%;">
       <col span="1" style="width: 75%;">
    </colgroup>
    <div class="text-right">
  <thead>
    <tr>
      <th  scope="col">משקל</th>
      <th scope="col">סוג</th>
 
    </tr>
  </thead>
   </div>
    <tbody>
        <tr>
            <td class="text-right" style="text-right">15%</td>
            <td style="background-color: #aaa">70%</td>
          
        </tr>
    </tbody>
   
</table>