<style>
    :root {
	--skintone-color: 	rgb(212,175,55);
	--dark-color: #fffE;
}

.main {
    height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}


.body {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: 140%!important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

@media (min-width: 992px) {
	.body {
	    background-size: 148vh!important;
	    background-repeat: no-repeat !important;
	    background-position: 50% -31vh!important;
	}
}

.row {
	margin-right: 0;
    margin-left: 0;
}

.social-row {
	display: flex;
    flex-direction: column;
    right: 0;
    position: absolute;
}

@media (min-width: 768px) {
	.social-row {
		position: relative;
	  	flex-direction: row;
	  	justify-content: flex-end;
	}
}

.social-row a {
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: contain;
   	padding: 1em 0;
    z-index: 99;
    margin-bottom: 1em;
  	margin-right: 1em;
}

@media (min-width: 768px) {
	.social-row a {
	    width: 2.5em;
  	  	height: 2.5em;
	    padding: 1em 0;
	    margin-bottom: 0;
	}
}

@media (min-width: 1200px) {
	.social-row a {
	    width: 3em;
	    height: 3em;
	    padding: 0;
	}
}

.countach {
	font-family: countach,sans-serif;
	font-weight: 400;
	font-style: normal;
}

.tilda-petite {
	font-family: tilda-petite,sans-serif;
	font-weight: 400;
	font-style: normal;
}

.montserrat {
	font-family: montserrat, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.skintone-text {
	color: var(--skintone-color);
}

.dark-text {
	color: var(--dark-color);
}

.white-text {
	color: #fff;
}

a:hover {
	color: #c2c2c2;
}

.dark-background {
	background: var(--dark-color);
}


.logo {
	width: 20vh;
}

@media (min-width: 768px) {
	.logo {
		width: 16em;
	}
}

@media (min-width: 992px) {
	.logo {
		width: 18em;
	}
}

@media (min-width: 1200px) {
	.logo {
	    width: 28vh;
    	height: 23vh;
	}
}

h1 {
	font-size: 4.5vh;
    letter-spacing: 4px;
    padding-top: .5em;
}

@media (min-width: 992px) {
	h1 {
		font-size: 2.75em;
	}
}

@media (min-width: 1200px) {
	h1 {
		font-size: 3em;
	    letter-spacing: 5px;
	}
}

.lead {
    font-size: 1.5rem;
  	padding-top: 0.5em;
}

@media (min-width: 992px) {
	.lead {
	    font-size: 2rem;
	    padding-top: 0.5em;
	}
}

@media (min-width: 1200px) {
	.lead {
    	font-size: 1.5rem;
		padding-top: 1em;
	}
}

p.general {
    font-size: 2.5vh;
    margin-bottom: 0.5em;
    line-height: 1.25em;
}

@media (min-width: 992px) {
	p.general {
		font-size: 1.25em;
		 line-height: 1.5em;
	}
}

@media (min-width: 1200px) {
	p.general {
	    font-size: 1.5em;
	}
}


.inner-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.outer-border {
	border: 2px solid 	rgb(212,175,55);
   	height: 99%;
    width: 98%;
    padding: 6px;
    margin: 0 auto;
}

@media (min-width: 992px) {
	.outer-border {
		height: 94%;
	}
}

.mid-border {
    border: 6px solid 	rgb(212,175,55);
    height: 100%;
    width: 100%;
    padding: 6px;
    margin: auto;
}

.inner-border {
	position: relative;
	border: 2px solid	rgb(212,175,55);
    height: 100%;
    width: 100%;
    margin: auto;
}


/* Decorations */
.corner-decoration {
	position: absolute;
    width: 3em;
    margin: -3px;
}

@media (min-width: 768px) {
	.corner-decoration {
		width: 3.5em;
	  	margin: -4px;
	}
}

@media (min-width: 992px) {
	.corner-decoration {
		width: 4em;
	  	margin: -5px;
	}
}

@media (min-width: 1200px) {
	.corner-decoration {
		width: 5em;
	  	margin: -6px;
	}
}

.corner-decoration.corner-left-top {
	left: 0;
	top: 0;
}

.corner-decoration.corner-right-top {
	top: 0;
	right: 0;
	 -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.corner-decoration.corner-right-bottom {
	right: 0;
	bottom: 0;
	 -webkit-transform: scale(-1);
  	transform: scale(-1);
}

.corner-decoration.corner-left-bottom {
	left: 0;
	bottom: 0;
	-webkit-transform: scaleY(-1);
  	transform: scaleY(-1);
}


.vertical-decoration {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 11em;
}


@media (min-width: 768px) {
	.vertical-decoration {
		width: 16em;
	}
}


@media (min-width: 992px) {
	.vertical-decoration {
		width: 20em;
	}
}

@media (min-width: 1200px) {
	.vertical-decoration {
		width: 27em;
	}
}

.vertical-decoration.top {
	top: 0;

}

.vertical-decoration.bottom {
	bottom: 0;
	-webkit-transform: scaleY(-1);
  	transform: scaleY(-1);
}
 .row{
  margin:auto;
  margin-right: 180px;
  width: 70%;
  padding: 10px;
 }

.btn{
   background-color:rgb(212,175,55);
   font-weight: bold;
   font-family: 'Heebo', sans-serif;
 }
 .card-body{
  color: rgb(207,181,59);
  background: #000;
  font-family: 'Heebo', sans-serif;
}
.card-title{
  color: rgb(207,181,59);
  text-shadow: 2px 1px seashell;
   font-weight: bold;
   font-family: 'Heebo', sans-serif;
   font-size:xx-large;

}
 .card{
   text-align: center;
   margin-bottom: 35px;
   margin-top: 35px;
   margin-right: 10px;
 }
h1{
     color: rgb(212,175,55);
      text-shadow: 4px 3px #000;
      font-weight: bold;
      font-size: 5rem;
      font-family: 'Heebo', sans-serif;
}
</style>

<div class="body dark-background" style="linear-gradient(to right, rgba(58, 61, 62, 1) 0%, rgba(58, 61, 62, 1) 100%);">
      <div class="outer-border">
         <div class="mid-border">
            <div class="inner-border">
               <!-- Page Content -->
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 text-center">
                        <h1 class="text-uppercase black-text ">קטלוג המוצרים שלנו</h1>
<p dir="rtl" class="lead text-center">יתכן כי קיימים מוצרים נוספים אשר לא רשומים בקטלוג, ניתן לפנות אלינו בכל בקשה למוצר ואנו נעשה את כל המאמצים בכדי להביא אותו אלייך.</p>
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
<div class="card text-center" style="width: 18rem;">
  <img src="/images/salads.jpg" class="card-img-top" height="180" width="20" alt="salads">
  <div class="card-body">
    <h5 class="card-title ">סלטים</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/catalog/salads"  class="btn ">Go somewhere</a>
  </div>
  </div>
</div>

<div class="col">
<div class="card text-center" style="width: 18rem;">
  <img src="/images/sauce.jpg"  class="card-img-top" class="card-img-top" height="180" alt="sauces">
  <div class="card-body">
    <h5 class="card-title ">רטבים וממרחים</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/catalog/salads"  class="btn ">Go somewhere</a>
  </div>
  </div>
</div>

<div class="col">
<div class="card text-center" style="width: 18rem;">
  <img src="/images/ירקות.jpg" class="card-img-top" height="180"  alt="vegetables">
  <div class="card-body">
    <h5 class="card-title ">ירקות קפואים</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/catalog/salads"  class="btn">Go somewhere</a>
  </div>
  </div>
</div>

<div class="col">
<div class="card text-center" style="width: 18rem;">
  <img src="/images/fish.jpg" class="card-img-top" height="180"  alt="fish">
  <div class="card-body">
    <h5 class="card-title ">דגים</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>
</div>

<div class="col">
<div class="card text-center" style="width: 18rem;">
  <img src="/images/נקניקים.jpg" class="card-img-top" height="180"  alt="Sausages">
  <div class="card-body">
    <h5 class="card-title ">נקניקים</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>

<div class="col">
<div class="card text-center" style="width: 18rem;">
  <img src="/images/cheese.jpg" class="card-img-top" height="180"  alt="cheese">
  <div class="card-body">
    <h5 class="card-title ">גבינות</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  </div>
</div>
</div>
</div>

                        <p class="lead skintone-text">
                           <span class="name skintone-text countach">Add your own washed</span>
                           <span class="place skintone-text tilda-petite">Creative Logo<span>
                        </p>
                  
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
</div>