<link rel="stylesheet" href="\contactStyle.css">
<div class="contact">
  <div class="container text-center">
    <h1 class="display-3 ">צרו איתנו קשר</h1>
    <p class="lead "> ניתן ליצור עמנו קשר בימים א' עד ה' בין השעות 8:00 ל18:00 בטלפון או במייל </p>
    <address>
      <a href="tel:+972547578782">חייגו אלינו</a>
    </address>
    <address>
      <a href="mailto:almacustomerserviceil@gmail.com">שלחו אלינו מייל</a><br> 
    </address>
    <p dir="rtl" class="lead">רוצים שאנחנו נחזור אליכם? השאירו פרטים ואנחנו נחזור אליכם במהלך היום.</p>
    <div class="goldcolor">
    <p dir="rtl"> *בפניה לאחר שעות הפעילות, נחזור אליכם ביום הפעילות הבא. </p></div><br>
  </div>
</div>

<h1 dir="rtl" class="text-center">תודה רבה</h1>
<h3 dir="rtl" class="text-center">פנייתך נקלטה במערכת,<br>אנו ניצור עימך קשר בהקדם האפשרי.</h3><br>
<img class="center" src="/images/עלמא.png" width = "180" height = "110">