<link rel="stylesheet" href="\contactStyle.css">
<style>
    .thanku{
        margin-bottom: 300px;
        margin-top: 70px;
        text-align: center;
            font-family: 'Heebo', sans-serif;
    }
    .btn{
      
    }
</style>
<div class="thanku">
    <h1 dir="rtl" >תודה רבה</h1>
    <h3 dir="rtl">פנייתך נקלטה במערכת,<br>אנו ניצור עימך קשר בהקדם האפשרי.</h3><br>
    <a href="/" class="btn">חזרה לדף הבית</a> 
</div>