<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alef&display=swap" rel="stylesheet">
<link rel="stylesheet" href="\tableStyle.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

<h1 class="mb-5 text-center">המוצרים הקפואים שלנו</h1>
<div dir="rtl">
<table id="sortTable">
    <colgroup>
       <col span="1" style="width: 75%;">
       <col span="1" style="width: 25%;">
    </colgroup>
    <div class="text-right">
  <thead>
    <tr>
      <th scope="col">סוג</th>
      <th scope="col">משקל אריזה</th>
    </tr>
  </thead>
   </div>
    <tbody id="tablrbody">
        <tr>
          <td>צ'יפוטלה מעושן</td>
            <td>3 ק"ג</td> 
        </tr>
          <tr>
          <td>רוטב טריפוליטאי</td>
            <td>3 ק"ג</td> 
        </tr>
          <tr>
          <td>קרם בובס</td>
            <td>2 ק"ג</td> 
        </tr>
          <tr>
          <td>קרם לימון</td>
            <td>1 ק"ג</td> 
        </tr>
          <tr>
          <td>קרם חציל</td>
            <td>1 ק"ג</td> 
        </tr>
               <tr>
          <td>רוטב שום לימון</td>
            <td>4 ק"ג</td> 
        </tr>
               
    </tbody>
    
   
</table>
</div>
<script>
  $(document).ready(function(){
      $('#sortTable').dataTable({

              language: {
                url: 'https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Hebrew.json'
              }
          
              });
              
  });

</script>
