.form{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-size: 1rem;
    line-height:1.5;
    color: rgb(212,175,55);
    background-color: #FFF;
    border: 2px solid black;
    border-radius: 0.25rem;
  }
  
  .input-group>.form {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 1.75rem; 
  }
  .btn {
      color: #000;
      background-color: rgb(212,175,55);
      border-color: #000
  }
  .icon{
      display:-ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      padding: .375rem .75rem;
      margin-bottom: 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: rgb(212,175,55);
      text-align: center;
      white-space: nowrap;
      background-color: #000;
      border: 1px solid #000;
      border-radius: .25rem;
      min-width: 50px;
  
  }
  
  .form-group{
    display:flex;
    justify-content: center;
  }
  textarea.form {
      height: auto;
      min-height: calc(1.5em + .75rem + 2px);
      vertical-align:top;
  }
  h1{
      color: #000;
      text-shadow: 4px 3px rgb(212,175,55);

  }
  .contact{
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
  }
  a{
    color: rgb(212,175,55);
    font-size: 20px;
  }
  .goldcolor{
    color:rgb(212,175,55);
  }
  .alert-warning {
      color: #000;
      background-color: rgb(212,175,55);
      border-color: #000;
      text-align: center;
      width:50%; 
      font-family: 'Heebo', sans-serif;
      font-weight: bold;
      margin-left: 25%;
  }
  
  